[user]
	name = Patrick Barletta
	email = teamdest@pbarletta.com

[core]
	pager = delta
	excludesfile = /Users/pbarletta/.gitignore_global

[commit]
	template = /Users/pbarletta/.stCommitMsg

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[include]
	path = ~/.config/delta/themes.gitconfig 

[delta]
  features = catppuccin-mocha decorations
	navigate = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

