keybinds clear-defaults=true {
    normal {
        bind "Ctrl f" { ToggleFloatingPanes; }
        bind "Ctrl H" { MoveFocus "left"; }
        bind "Ctrl J" { MoveFocus "down"; }
        bind "Ctrl K" { MoveFocus "up"; }
        bind "Ctrl L" { MoveFocus "down"; }
    }
    shared_except "tmux" {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }
    shared_except "locked" {
        bind "Ctrl b" { SwitchToMode "locked"; }
    }
    Locked {
        bind "Ctrl b" { SwitchToMode "normal"; }
    }
    tmux {
        bind "Ctrl a" { SwitchToMode "normal"; }
        bind "esc" { SwitchToMode "normal"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "d" { Detach; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "q" { CloseTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "R" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "|" { NewPane "right"; SwitchToMode "normal"; }
        bind "-" { NewPane "down"; SwitchToMode "normal"; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}
 
theme "catppuccin-mocha"
 
pane_frames false
 
scroll_buffer_size 100000
 
copy_on_select true
 
attach_to_session true
 
session_serialization false
 
show_startup_tips false
